﻿@model FxProperties.Models.LoginModel

@{
    Layout = "~/Views/Shared/_FxLoginLayout.cshtml";
    ViewBag.Title = "Log in";
    ViewBag.Header = "Log in";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="input-group">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="form-line">
            @*<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>*@
            @Html.TextBoxFor(m => m.UserName, new{@class="form-control"})
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
        <div class="form-line">
            @Html.PasswordFor(m => m.Password, new{@class="form-control"})
        </div>
    </div>
    <div>
        <div class="">
            @*<input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">*@
            @*@Html.CheckBoxFor(m => m.RememberMe, new{@class="filled-in chk-col-pink"})
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })*@
            @*<label for="rememberme">Remember Me</label>*@
        </div>
        <div class="text-center">
            <input type="submit" value="SIGN IN" class="btn btn-raised waves-effect g-bg-blue"/>
        </div>
        @*<div class="text-center"><a href="forgot-password.html">Forgot Password?</a></div>*@
    </div>
}