﻿@model FxProperties.Models.RegisterModel
@{
    //Layout = "~/Views/Shared/_FxLayout.cshtml";
    ViewBag.Title = "Register";
    ViewBag.Header = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="container-fluid">
        <div class="block-header">
            <h2>Add User</h2>
            <small class="text-muted"></small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>User Information <small></small></h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form action="/" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                                    <div class="dz-message">
                                        <div class="drag-icon-cph"> <i class="material-icons">touch_app</i> </div>
                                        <h3>Drop files here or click to upload.</h3>
                                        <em>(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</em> </div>
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                </form>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Account Information <small></small></h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.Phone, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <h4>User Role</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <input type="radio" class="with-gap" id="ig_radio1" name="Role" value="Supervisor">
                                        <label for="ig_radio1"></label>
                                    </span>
                                    <div class="form-line">
                                        <span class="form-control">Supervisor</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <input type="radio" class="with-gap" id="ig_radio2" name="Role" value="LAgent">
                                        <label for="ig_radio2"></label>
                                    </span>
                                    <div class="form-line">
                                        <span class="form-control">Lease Agent</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-raised g-bg-blue">Submit</button>
                <button type="submit" class="btn btn-raised">Cancel</button>
            </div>
        </div>
    </div>
}