﻿@using FxProperties.Models
@model FxProperties.Models.PropertyConfig

@{
    ViewBag.Title = "Property Config";
    ViewBag.Header = "Property Config";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="card">
        <div class="body">
            <div class="row">
                <div class="col-sm-offset-3 col-xs-3 col-sm-3 col-lg-3">
                    Units From
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    Units To
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" placeholder="Building No">
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" placeholder="From">
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" placeholder="To">
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-lg-3">
                    <button type="button" class="btn btn-raised btn-primary m-t-15 waves-effect">Add</button>
                </div>
            </div>
        </div>
    </div>
}

<div id="jsGrid"></div>

@section Scripts {
    <link href="~/resources/jsGrid/jsgrid.min.css" rel="stylesheet" />
    <link href="~/resources/jsGrid/jsgrid-theme.min.css" rel="stylesheet" />
    <script src="~/resources/jsGrid/jsgrid.min.js"></script>

    
    <script>
        var clients = [
            { "Name": "Otto Clay", "Age": 25, "Country": 1, "Address": "Ap #897-1459 Quam Avenue", "Married": false },
            { "Name": "Connor Johnston", "Age": 45, "Country": 2, "Address": "Ap #370-4647 Dis Av.", "Married": true },
            { "Name": "Lacey Hess", "Age": 29, "Country": 3, "Address": "Ap #365-8835 Integer St.", "Married": false },
            { "Name": "Timothy Henson", "Age": 56, "Country": 1, "Address": "911-5143 Luctus Ave", "Married": true },
            { "Name": "Ramona Benton", "Age": 32, "Country": 3, "Address": "Ap #614-689 Vehicula Street", "Married": false }
        ];

        var countries = [
            { Name: "", Id: 0 },
            { Name: "United States", Id: 1 },
            { Name: "Canada", Id: 2 },
            { Name: "United Kingdom", Id: 3 },
            { Name: "India", Id: 4 }
        ];

        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            inserting: true,
            editing: true,
            sorting: true,
            paging: true,

            data: clients,

            fields: [
                { name: "Name", type: "text", width: 150, validate: "required" },
                { name: "Age", type: "number", width: 50 },
                { name: "Address", type: "text", width: 200 },
                { name: "Country", type: "select", items: countries, valueField: "Id", textField: "Name" },
                { name: "Married", type: "checkbox", title: "Is Married", sorting: false },
                { type: "control" }
            ]
        });
    </script>
}