﻿@using System.Runtime.InteropServices
@using System.Web.UI.WebControls
@using FxProperties.Code
@model FxProperties.Models.PropertyModel
@{
    //Layout = "~/Views/Shared/_FxLayout.cshtml";
    ViewBag.Title = "Create Property";
    ViewBag.Header = "Create Property";

    var supervisors = Users.GetSupervisors();
    var supList = supervisors.Select(sv => new SelectListItem()
    {
        Text = sv.FullName, 
        Value = sv.UserId.ToString(),
    }).ToList();
    var leasingAgents = Users.GetLeasingAgents();
    var laList = leasingAgents.Select(sv => new SelectListItem()
    {
        Text = sv.FullName,
        Value = sv.UserId.ToString()
    }).ToList();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="row clearfix">
        <div class="container-fluid">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix masked-input">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">


                                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control no-resize" })
                                        @Html.LabelFor(m => m.Address, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
     

                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.City, new { @class = "form-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group drop-custum">
                                    @Html.DropDownListFor(m => m.State, new SelectList(Enum.GetValues(typeof(FxProperties.Models.State))), "Select State", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Assignment</h2>
                    </div>
                    <div class="body">
                        @Html.DropDownListFor(m => m.Supervisor, supList, "-- Select Supervisor --", new{@class="form-control show-tick"})
                        @Html.DropDownListFor(m => m.LeaseAgent, laList, "-- Select Leasing Agent --", new{@class="form-control show-tick"})
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-raised g-bg-blue">Submit</button>
                    <button type="submit" class="btn btn-raised">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}