﻿@model IEnumerable<FxProperties.Models.PropertyModel>

@{
    //Layout = "~/Views/Shared/_FxLayout.cshtml";
    ViewBag.Title = "Property List";
    ViewBag.Header = "Property List";
}

<div class="row clearfix">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-xs-12">
            <a href="property_dashboard.html">
                <div class="card property">
                    <div class="property-card m-b-15">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="info-box-4 hover-zoom-effect">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-xs-8">
                                                <div class="text">@Html.DisplayFor(modelItem => item.Name)</div>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-xs-4 text-right">
                                                <div class="icon"><i class="zmdi zmdi-home"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="body">
                                    <div class="property-content">
                                        <div class="listingInfo">
                                            <div class="detail">
                                                <p class="text-muted m-b-0"><i class="zmdi zmdi-pin m-r-5"></i>245 E 20th St, New York, NY 201609</p>
                                                <p class="text-muted m-b-0">Buildings: 10</p>
                                                <p class="text-muted m-b-0">Units: 50</p>
                                                <p class="text-muted m-b-0">Property Manager: Linda</p>
                                                <p class="text-muted m-b-0">Leasing Agent: Christopher</p>
                                                <p class="text-muted m-b-0">Ocuppied: 40</p>
                                                <p class="text-muted m-b-0">Vacant: 10</p>
                                                <p class="text-muted m-b-0">Vacancy: 20%</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@*<p>User is: @User.Identity.Name</p>*@