﻿@using FxProperties.Code
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="admin-image">
            <img src="~/resources/images/User.png" alt="">
        </div>
        <div class="admin-action-info">
            <span>Welcome</span>
            @*<h3>@User.Identity.GetUserName()</h3>*@
            <ul>
                <li><a data-placement="bottom" title="Go to Profile" href="profile.html"><i class="zmdi zmdi-account"></i></a></li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <li><a data-placement="bottom" title="Log out" href="javascript:document.getElementById('logoutForm').submit()"><i class="zmdi zmdi-sign-in"></i></a></li>
                }
            </ul>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li class="open"><a href="index.html"><i class="zmdi zmdi-home"></i><span>Home</span></a></li>
            <li class="open"><a href="dashboard.html"><i class="zmdi zmdi-file-text"></i><span>Dashboard</span></a></li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-city"></i><span>Properties</span> </a>
                <ul class="ml-menu">
                    <li>@Html.ActionLink("Create Property", "Create", "Property")</li>
                </ul>
            </li>
            <li class="open"><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-accounts-outline"></i><span>Users</span> </a>
                <ul class="ml-menu">
                    <li>@Html.ActionLink("Add User", "Register", "Account")</li>
                    @*<li><a href="user-create-supervisor.html">Create Supervisor</a></li>*@
                </ul>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
</aside>