﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Fx::Rentroll - Sign in</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Custom Css -->
    <link href="~/resources/css/main.css" rel="stylesheet">
    <link href="~/resources/css/login.css" rel="stylesheet">
</head>
<body class="login-page authentication">
<div class="container">
    <div class="card-top"></div>
    <div class="card">
        <h1 class="title"><span>Fx::Rentroll</span>Login <span class="msg">Sign in to start your session</span></h1>
        <div class="col-md-12">
            @RenderBody()
            
        </div>
    </div>
</div>
<div class="theme-bg"></div>

<!-- Jquery Core Js -->
<script src="~/resources/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="~/resources/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="~/resources/bundles/mainscripts.bundle.js"></script>
<!-- Custom Js -->
<script src="~/resources/js/pages/sign-in.js"></script>
</body>
</html>