﻿@using FxProperties.Code
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Fx Property Management</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Select Css -->
    <link href="~/resources/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="~/resources/css/main.css" rel="stylesheet">
    <link href="~/resources/css/themes/all-themes.css" rel="stylesheet">

    @*<link href="https://fonts.googleapis.com/css?family=Anton|Merriweather" rel="stylesheet">*@

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="theme-blue">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    <!-- Top Bar -->
    <nav class="navbar clearHeader">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a><a class="navbar-brand" href="index.html">
                    @*<img src="~/resources/images/logo.png" class="logo" alt="Fx::Rentroll">*@</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                
                @{
                    <!-- Notifications -->
                    Html.RenderPartial("_FxNotification");
                    
                    <!-- Tasks -->
                    Html.RenderPartial("_FxTasks");
                }
            </ul>
        </div>
    </nav>
    <!-- #Top Bar -->

    <!--Side menu and right menu -->
    <section>
        <!-- Left Sidebar -->
        @{
            Html.RenderPartial("_FxLeftSidebar");
        }
    </section>

    <!-- main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>@ViewBag.Header</h2>
                <small class="text-muted">Welcome to Fx Property Management App</small>
            </div>
            @RenderBody()
        </div>
    </section>
    <!-- main content -->

    <div class="color-bg"></div>

    <!-- Jquery Core Js -->
    <script src="~/resources/bundles/libscripts.bundle.js"></script>
    <!-- Lib Scripts Plugin Js -->
    <script src="~/resources/bundles/vendorscripts.bundle.js"></script>
    <!-- Lib Scripts Plugin Js -->
    <script src="~/resources/bundles/mainscripts.bundle.js"></script>
</body>

@RenderSection("scripts", required: false)
</html>