﻿<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i><span class="label-count">7</span> </a>
    <ul class="dropdown-menu">
        <li class="header">NOTIFICATIONS</li>
        <li class="body">
            <ul class="menu">
                <li><a href="javascript:void(0);">
                    <div class="icon-circle bg-light-green"><i class="zmdi zmdi-account-add"></i></div>
                    <div class="menu-info">
                        <h4>Deposit received for Unit 110 Fx of Bellair</h4>
                        <p><i class="material-icons">access_time</i> 14 mins ago </p>
                    </div>
                </a></li>
                <li><a href="javascript:void(0);">
                    <div class="icon-circle bg-cyan"><i class="zmdi zmdi-shopping-cart-plus"></i></div>
                    <div class="menu-info">
                        <h4>Notice sent to Unit 103 Fx of Bellair</h4>
                        <p><i class="material-icons">access_time</i> 22 mins ago </p>
                    </div>
                </a></li>
                <li><a href="javascript:void(0);">
                    <div class="icon-circle bg-red"><i class="zmdi zmdi-delete"></i></div>
                    <div class="menu-info">
                        <h4>Lease create for Unit 120 Fx of Bellair</h4>
                        <p><i class="material-icons">access_time</i> 3 hours ago </p>
                    </div>
                </a></li>
                <li><a href="javascript:void(0);">
                    <div class="icon-circle bg-orange"><i class="zmdi zmdi-edit"></i></div>
                    <div class="menu-info">
                        <h4>Deposit received for Unit 340 Fx of Town Park</h4>
                        <p><i class="material-icons">access_time</i> 2 hours ago </p>
                    </div>
                </a></li>
                <li><a href="javascript:void(0);">
                    <div class="icon-circle bg-blue-grey"><i class="zmdi zmdi-comment-alt-text"></i></div>
                    <div class="menu-info">
                        <h4>Expiring today Lease for Unit 510 Pelican Landing</h4>
                        <p><i class="material-icons">access_time</i> 4 hours ago </p>
                    </div>
                </a></li>
            </ul>
        </li>
        <li class="footer"><a href="javascript:void(0);">View All Notifications</a> </li>
    </ul>
</li>