﻿<li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-flag"></i><span class="label-count">9</span> </a>
    <ul class="dropdown-menu">
        <li class="header">TASKS</li>
        <li class="body">
            <ul class="menu tasks">
                <li><a href="javascript:void(0);">
                    <h4>Plumbing for Unit 110 Fx of Bellair <small>32%</small> </h4>
                    <div class="progress">
                        <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%"></div>
                    </div>
                </a></li>
                <li><a href="javascript:void(0);">
                    <h4>Painting for Unit 103 Fx of Bellair <small>45%</small> </h4>
                    <div class="progress">
                        <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                    </div>
                </a></li>
                <li><a href="javascript:void(0);">
                    <h4>Plumbing for Unit 120 Fx of Bellair <small>54%</small> </h4>
                    <div class="progress">
                        <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 54%"></div>
                    </div>
                </a></li>
                <li><a href="javascript:void(0);">
                    <h4>Plumbing for Unit 340 Fx of Town Park <small>65%</small> </h4>
                    <div class="progress">
                        <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                    </div>
                </a></li>
            </ul>
        </li>
        <li class="footer"><a href="javascript:void(0);">View All Tasks</a> </li>
    </ul>
</li>